@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn {
  background-color: #38BCEA;
  color: #FFFFFF;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  border-color: transparent;
  font-family: "Roboto Slab", serif;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #01678A;
  border-color: #01678A;
}

footer .polyci, footer .licence, .certificates .certificates__title, .doctors__card-experience, .doctors__card-prof, .doctors__card-name, .doctitle__main, .doctitle__header {
  line-height: 100%;
  vertical-align: top;
}

.doctors .doctors__fifthcard, .doctors .doctors__fifthphoto, .doctors .doctors__fourthcard, .doctors .doctors__fourthphoto, .doctors .doctors__thirdcard, .doctors .doctors__thirdphoto, .doctors .doctors__secondcard, .doctors .doctors__secondphoto, .doctors .doctors__firstcard, .doctors .doctors__firstphoto {
  display: grid;
  max-width: 100%;
  border-radius: 2px;
}

.title {
  font-family: "Panton", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #1A3444;
}

footer .polyci, footer .licence, .certificates .certificates__title, .doctors__card-experience, .doctors__card-prof, .doctors__card-name, .doctitle__main, .doctitle__header {
  line-height: 100%;
  vertical-align: top;
}

.doctors .doctors__fifthcard, .doctors .doctors__fifthphoto, .doctors .doctors__fourthcard, .doctors .doctors__fourthphoto, .doctors .doctors__thirdcard, .doctors .doctors__thirdphoto, .doctors .doctors__secondcard, .doctors .doctors__secondphoto, .doctors .doctors__firstcard, .doctors .doctors__firstphoto {
  display: grid;
  max-width: 100%;
  border-radius: 2px;
}

.wrapper {
  max-width: 1650px;
  margin: 0 auto;
}

.header__wrapper {
  padding-top: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  margin-right: 55px;
  border: 1px solid transparent;
}
.header__logo:hover {
  border: 1px solid #01678A;
}
.header__social a:nth-child(2) {
  margin: 0 15px;
}
.header__social .social__link {
  border: 1px solid transparent;
}
.header__social .social__link:hover {
  border: 1px solid #01678A;
}
.header__nav {
  margin-left: 70px;
}
.header__nav .nav__link {
  text-decoration: none;
  margin-right: 35px;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: #AAAAAA;
}
.header__nav .nav__link:last-child {
  margin-right: 0px;
}
.header__nav .nav__link:hover {
  color: #01678A;
}
.header__address {
  max-width: 176px;
  margin-left: 3rem;
  color: #474747;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.header__address .address__link {
  border: 1px solid transparent;
}
.header__address .address__link:hover {
  border: 1px solid #01678A;
}
.header__calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 19px;
  gap: 9px;
}
.header__calendar .calendar__link {
  border: 1px solid transparent;
}
.header__calendar .calendar__link:hover {
  border: 1px solid #01678A;
}
.header__calendar .calendar__hours {
  /*   font-family: */
  color: #12354B;
}
.header__calendar .calendar__datas {
  color: #909090;
}
.header__phone {
  margin-left: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.header__phone .phone__link {
  border: 1px solid transparent;
}
.header__phone .phone__link:hover {
  border: 1px solid #01678A;
}
.header__phone .phone__number {
  text-decoration: none;
  color: #3C3C3C;
}
.header__phone .phone__number:hover {
  color: #01678A;
}
.header .btn_size_small {
  font-size: 15px;
  margin-left: 20px;
}

.welcomepage {
  background-image: url(../images/Fonblock1.png);
  max-width: 100%;
  width: 100%;
  height: auto;
}
.welcomepage__text {
  padding-top: 146px;
}
.welcomepage__text .text__item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #4E4E4E;
  padding-bottom: 17px;
}
.welcomepage__text .text__item-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #6F6F6F;
  padding-top: 17px;
  padding-bottom: 37px;
  max-width: 460px;
}
.welcomepage__text .btn_size_average {
  font-size: 20px;
  margin-top: 17px;
}
.welcomepage__row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-top: 76px;
}
.welcomepage__row .row__content {
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  gap: 19px;
}
.welcomepage__row .row__content .content__title {
  text-decoration: none;
  color: #4B4B4B;
}
.welcomepage__row .row__content_position_left {
  flex: 2 1 auto;
  justify-content: right;
}
.welcomepage__row .row__content_position_center {
  flex: 1 1 auto;
  justify-content: center;
}
.welcomepage__row .row__content_position_right {
  flex: 2 1 auto;
}

/*Начало блока 2 Анастасия Добровольская*/
@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.woff");
}
.main-2 {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.main-2 .main-2__services {
  margin-top: 77px;
}
.main-2 .main-2__services_heading {
  font-family: "Panton";
  font-size: 3em;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #12354B;
}
.main-2 .main-2__services_paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
  margin-top: 14px;
}
.main-2 .main-2__types {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 20%);
  width: 1650px;
}
.main-2 .main-2__types_service {
  text-align: center;
  width: 298px;
  height: 237px;
  margin: 40px;
  background-color: #FBFBFB;
}
.main-2 .main-2__types_service:hover {
  background: lightblue;
  box-shadow: 0 0 10px #38BCEA;
}
.main-2 .main-2__types_service-btn {
  text-align: center;
  width: 298px;
  height: 195px;
  margin: 40px;
  background-color: #38BCEA;
  box-shadow: 0px 20px 50px 0px rgba(165, 165, 165, 0.2);
  border-radius: 5px;
  margin-left: auto;
}
.main-2 .main-2__types_tooth {
  padding: 50px;
}
.main-2 .vinir {
  grid-column: 2/3;
}
.main-2 a {
  text-decoration: none;
  display: inline-block;
  color: #454545;
  font-family: "Panton";
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
.main-2 .main-2__types_text {
  color: white;
}
.main-2 a:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #6591dd;
  transition: width 0.4s ease-in-out;
}
.main-2 a:hover:after,
.main-2 a:focus:after {
  width: 100%;
}
.main-2 a:hover {
  color: #6591dd;
}

.main-3 {
  width: 1650px;
}
.main-3 .main-3__heading {
  font-family: "Panton";
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #272727;
}
.main-3 .main-3__advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 38px;
}
.main-3 .main-3__advantages_service {
  text-align: start;
  width: 500px;
  height: 334px;
  margin: 40px;
}
.main-3 .main-3__card {
  margin-top: 58px;
}
.main-3 .paragraph-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #292929;
}
.main-3 h3 {
  font-family: "Panton";
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

/*Конец блока 2 Анастасия Добровольская*/
.doctitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 0 3% 0 3%;
  width: 40%;
  padding-bottom: 3%;
}

.doctitle__header {
  font-family: "Panton", Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
  padding-bottom: 5%;
}

.doctitle__main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}

.doctors__card-name {
  font-family: "Panton", Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  max-width: 60%;
}

.doctors__card-prof {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
}

.doctors__card-experience {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
}

.doctors {
  display: grid;
  gap: 4%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 100vw;
  padding: 0 3% 0 3%;
}
.doctors .doctors__card {
  display: grid;
  max-width: 60%;
  max-height: 50%;
  padding: 5% 0 0 5%;
}
.doctors .doctors__firstphoto {
  grid-area: 1/1/2/2;
  box-shadow: 0 13px 50px rgba(192, 192, 192, 0.2);
}
.doctors .doctors__firstcard {
  grid-area: 1/1/2/2;
}
.doctors .doctors__secondphoto {
  grid-area: 1/2/2/3;
  box-shadow: 0 13px 50px rgba(192, 192, 192, 0.2);
}
.doctors .doctors__secondcard {
  grid-area: 1/2/2/3;
}
.doctors .doctors__thirdphoto {
  grid-area: 2/1/3/2;
  box-shadow: 0 13px 50px rgba(192, 192, 192, 0.2);
}
.doctors .doctors__thirdcard {
  grid-area: 2/1/3/2;
}
.doctors .doctors__fourthphoto {
  grid-area: 2/2/3/3;
  box-shadow: 0 13px 50px rgba(192, 192, 192, 0.2);
}
.doctors .doctors__fourthcard {
  grid-area: 2/2/3/3;
}
.doctors .doctors__fifthphoto {
  grid-area: 3/1/4/2;
  box-shadow: 0 13px 50px rgba(192, 192, 192, 0.2);
}
.doctors .doctors__fifthcard {
  grid-area: 3/1/4/2;
}

.certificates {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  max-width: 100vw;
}
.certificates .certificates__title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 15% 3% 0 3%;
  font-family: "Panton", Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
}
.certificates .certificates__carousel {
  display: grid;
  grid-template-columns: 1fr 12fr 12fr 12fr 1fr;
  grid-template-rows: 1fr;
  gap: 1%;
  align-items: center;
  padding: 5% 0 10% 0;
}
.certificates .certificates__carousel .certificates__doc {
  display: grid;
  max-width: 100%;
}
.certificates .certificates__carousel .certificates__arrow {
  display: grid;
  max-width: 100%;
}

footer {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  max-width: 100vw;
  background-color: #F2F3F5;
  padding: 3% 0 3% 0;
}
footer .nets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  padding: 0 15% 0 15%;
}
footer .licence {
  display: grid;
  padding: 0 12% 0 12%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
  text-align: center;
}
footer .polyci {
  display: grid;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
}
footer .polyci:hover {
  color: rgb(19, 151, 168);
}
footer .logo {
  display: grid;
  padding-left: 25%;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.button {
  font-size: 15px;
  text-decoration: none;
  background-color: #38BCEA;
  color: white;
  display: inline-block;
  padding: 10px 15px;
}

.tel {
  color: #9b2020;
  border: 0;
}

.controltitle {
  padding-left: 100px;
  margin-top: 135px;
  background-color: #FBFBFB;
}

.title {
  padding-top: 62px;
  position: relative;
}

.subtitle {
  width: 50%;
  padding-top: 35px;
  padding-bottom: 38px;
}

.personal {
  width: 50%;
  display: grid;
  grid-template-columns: 30% 30%;
  gap: 5%;
  padding-bottom: 33px;
}

.checkbox {
  padding-bottom: 63px;
}

.title-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 600px;
  height: 600px;
}

h1 {
  font-family: "Panton";
  font-style: normal;
  font-size: 50px;
}

.imgclinic {
  bottom: 5px;
  right: 0px;
  width: 650px;
  height: 400px;
}

.controlcontriner {
  padding-left: 100px;
  margin-top: 135px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.controlcontriner__content {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

.content__servicescontainer__servbutton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
  gap: 5px;
}

.content__logocontainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.content__bastitle {
  font-family: "Panton";
  font-size: 50px;
}

.content__text {
  font-size: 24px;
}

.content__text,
.content__text,
.content__text {
  font-size: 20px;
}

.buttonA,
.buttonB,
.buttonC,
.buttonD,
.buttonE {
  text-decoration: none;
  background-color: #F9F9F9;
  color: rgb(5, 5, 5);
  padding: 10px 15px;
}

.controlcontriner__contimg {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: end;
}/*# sourceMappingURL=style.css.map */