* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

$blue: #38BCEA;
$white: #FFFFFF;
$hover: #01678A;
$gray: #AAAAAA;
$transparent: transparent;
$darkgray: #474747;
$darkblue: #12354B;
$darkgr: #909090;
$lightblack: #3C3C3C;
$bl1gray: #4E4E4E;
$bl1darkblue: #1A3444;
$bl1graylight: #6F6F6F;
$bl1graylight2: #4B4B4B;

.btn {
    background-color: $blue;
    color: $white;
    padding: 0.7rem 1rem;
    border-radius: 3px;
    border-color: $transparent;
    font-family: 'Roboto Slab', serif;
}

.btn:hover {
    background-color: $white;
    color: $hover;
    border-color: $hover;
}

$fontarial: Arial, Helvetica, sans-serif;
$fontpan: 'Panton', Arial, Helvetica, sans-serif;
$shadow: 0 13px 50px rgba(192, 192, 192, 0.2);

%font-align {
    line-height: 100%;
    vertical-align: top;
}

%card-size {
    display: grid;
    max-width: 100%;
    border-radius: 2px;
}

.title {
    font-family: $fontpan;
    font-weight: 700;
    font-size: 3rem;
    color: $bl1darkblue;
}

.wrapper {
    max-width: 1650px;
    margin: 0 auto;
}

.header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.header {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }


    &__logo {
        margin-right: 55px;
        border: 1px solid $transparent;
        max-width: 100%;
    }

    &__logo:hover {
        border: 1px solid $hover;
    }

    &__social {
        a:nth-child(2) {
            margin: 0 15px;
        }

        .social {
            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }
        }
    }

    &__nav {
        margin-left: 70px;

        .nav {
            &__link {
                text-decoration: none;
                margin-right: 35px;
                font-family: 'Roboto Slab', serif;
                font-size: 15px;
                color: $gray;
            }

            &__link:last-child {
                margin-right: 0px;
            }

            &__link:hover {
                color: $hover;
            }

        }
    }

    &__address {
        max-width: 176px;
        margin-left: 3rem;
        color: $darkgray;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 9px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;

        .address {
            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }
        }

    }

    &__calendar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 19px;
        gap: 9px;

        .calendar {
            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }

            &__hours {
                /*   font-family: */
                color: $darkblue;
            }

            &__datas {
                color: $darkgr;
            }
        }
    }

    &__phone {
        margin-left: 41px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .phone {
            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }

            &__number {
                text-decoration: none;
                color: $lightblack;
            }

            &__number:hover {
                color: $hover;
            }
        }
    }

    .btn_size_small {
        font-size: 15px;
        margin-left: 20px;
    }
}

.welcomepage {
    background-image: url(../images/Fonblock1.png);
    background-repeat: no-repeat;
    margin-top: 80px;
    max-width: 100%;
    width: 100%;
    height: auto;

    &__text {
        padding-top: 146px;

        .text {
            &__item {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                color: $bl1gray;
                padding-bottom: 17px;

            }

            &__item-2 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                color: $bl1graylight;
                padding-top: 17px;
                padding-bottom: 37px;
                max-width: 460px;
            }
        }

        .btn_size_average {
            font-size: 20px;
            margin-top: 17px;
        }

    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 6px;
        margin-top: 76px;

        .row {
            &__content {
                background-color: rgba(255, 255, 255, 0.4);
                display: flex;
                align-items: center;
                gap: 19px;

                .content {
                    &__title {
                        text-decoration: none;
                        color: $bl1graylight2;
                    }
                }
            }

            &__content_position_left {
                flex: 2 1 auto;
                justify-content: right;
            }

            &__content_position_center {
                flex: 1 1 auto;
                justify-content: center;
            }

            &__content_position_right {

                flex: 2 1 auto;
            }
        }
    }
}

/*Начало блока 2 Анастасия Добровольская*/
$darkblue: #12354B;
$gray: #737373;
$dark: #454545;
$blue: #38BCEA;
$darkgray: #272727;
$black: #222222;
$lightblack: #292929;
$white: #FBFBFB;
$lgray: #D5D5D5;

.container {
    display: grid;
    grid-template-rows: 56% 43%;

    @media(min-width:576px) and (max-width:766px) {
        grid-template-rows: 70% 30%;
    }
}

.main-links {
    display: grid;
    grid-template-rows: 1fr 2fr;
    max-width: 100%;
    height: 900px;


    &__text {
        margin-top: 77px;
    }

    .text__price {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $gray;
        margin-top: 14px;
    }

    .main-links__treatment {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        gap: 2.4%;
        max-width: 100%;
        row-gap: 6%;

        @media(min-width:576px) and (max-width:766px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
        }

        @media(min-width:767px) and (max-width:1199px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media(min-width:1200px) and (max-width:1439px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

    }

    .treatment__cards {
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
    }

    .cards {
        background-color: $lgray;
        border-radius: 5px;
        padding: 50px;

        &__img {
            max-width: 26%;
            height: 33%;
        }


        &__link {
            font-size: 20px;
            margin: 0 auto 0;
            text-decoration: none;
            display: inline-block;
            color: $dark;
            font-family: $fontpan;
            font-size: 26px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    .cards:hover {
        background: $blue;
        box-shadow: 0 0 10px $blue;
    }

    .cards:hover .cards__link {
        color: $white;
    }

    .vinir {
        grid-column: 2/3;

        @media(min-width:767px) and (max-width:1199px) {
            grid-column: 3/4;
        }
    }

    .cards__link:after {
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        background-color: $white;
        transition: width 0.4s ease-in-out;
    }

    .cards__link:hover:after,
    .cards__link:focus:after {
        width: 100%;
    }

    .cards__link:hover {
        color: $white;
    }

    .treatment__butn {
        width: 100%;
        height: 48px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .butn__bottom {
        width: 298px;
        height: 48px;
        color: $lgray;
        border: none;
        cursor: pointer;
        background-color: $lgray;
    }

    .butn__bottom:hover {
        color: $blue;
    }
}

.main-benefits {
    max-width: 100%;
    height: 700px;

    &__advantages {
        display: grid;
        grid-template-columns: repeat(3, 33%);

        @media(min-width:576px) and (max-width:766px) {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr;
        }

        @media(min-width:767px) and (max-width:1199px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &__heading {
        margin-top: 124px;
    }

    .advantages__accents {
        text-align: start;
        width: 100%;
        height: 80%;
        margin: 3%;
    }

    .accents__card {
        margin-top: 58px;
    }

    .card__paragraph {
        font-family: $fontarial;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $lightblack;
    }

    .card__title {
        font-family: $fontpan;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
        margin: 7px 0px 7px 0px;

    }
}


/*Конец блока 2 Анастасия Добровольская*/

/*Начало блока Анна Мычко*/

.doctitle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 40%;
    padding-bottom: 3%;
}

.doctitle__header {

    padding: 0 0 5% 9%;
}

.doctitle__main {
    font-family: $fontarial;
    font-size: 1.5vw;
    @extend %font-align;
    padding: 0 3% 0 9%;
}

.doctors__card-name {
    font-family: $fontpan;
    font-size: 1.5vw;
    @extend %font-align;
    max-width: 60%;
}

.doctors__card-prof {
    font-family: $fontarial;
    @extend %font-align;
    font-size: 1.1vw;

}

.doctors__card-experience {
    font-family: $fontarial;
    font-size: 1.1vw;
    @extend %font-align;
}

.doctors {
    display: grid;
    gap: 4%;
    grid-template-columns: 0.1% 1fr 1fr 0.1%;
    grid-template-rows: 1fr 1fr 1fr;

    max-width: 100vw;


    .doctors__card {
        display: grid;
        max-width: 60%;
        max-height: 50%;
        padding: 5% 0 0 5%;

    }



    .doctors__firstphoto {

        grid-area: 1/2/2/3;

        @extend %card-size;
        box-shadow: $shadow;
    }

    .doctors__firstcard {
        @extend %card-size;
        grid-area: 1/2/2/3;

    }

    .doctors__secondphoto {
        @extend %card-size;
        grid-area: 1/3/2/4;

        box-shadow: $shadow;
    }

    .doctors__secondcard {

        grid-area: 1/3/2/4;
        @extend %card-size;
    }

    .doctors__thirdphoto {
        @extend %card-size;
        grid-area: 2/2/3/3;

        box-shadow: $shadow;
    }

    .doctors__thirdcard {

        grid-area: 2/2/3/3;
        @extend %card-size;
    }

    .doctors__fourthphoto {
        @extend %card-size;
        grid-area: 2/3/3/4;

        box-shadow: $shadow;
    }

    .doctors__fourthcard {
        @extend %card-size;
        grid-area: 2/3/3/4;

    }

    .doctors__fifthphoto {
        @extend %card-size;
        grid-area: 3/2/4/3;

        box-shadow: $shadow;
    }

    .doctors__fifthcard {
        @extend %card-size;
        grid-area: 3/2/4/3;

    }
}

.certificates {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    max-width: 100vw;

    .certificates__title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 15% 3% 0 4%;

    }

    .certificates__carousel {
        display: grid;
        grid-template-columns: 1fr 12fr 12fr 12fr 1fr;
        grid-template-rows: 1fr;
        gap: 1%;
        align-items: center;
        padding: 5% 0 5% 0;

        .certificates__doc {
            display: grid;
            max-width: 100%;
        }

        .certificates__arrow {
            display: grid;
            max-width: 100%;
        }
    }
}

.consultation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr 1fr 2fr 2fr;
    background-image: url("../images/dentist2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    max-width: 100vw;


    .consultation__title {
        display: grid;

        max-width: 50%;
        margin: 10% 0 3% 4%;

    }

    .consultation__subtitle {
        display: grid;
        font-family: $fontarial;
        font-size: 1.2vw;
        @extend %font-align;
        max-width: 35%;
        margin-left: 4%;
    }

    .consultation__phone {
        display: grid;
        font-family: $fontarial;
        font-size: 1.2vw;
        @extend %font-align;
        max-width: 35%;
        margin-left: 4%;

        .consultation__phone-number {
            color: #0079FF;
            text-decoration: none;
        }
    }

    .consultation__inputs {
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: 1fr;
        max-width: 50%;
        margin-left: 4%;

        .consultation__inputs-tel {
            border: none;
            max-width: 90%;
            color: #BBBBBB;
            text-align: center;
            align-items: center;
            margin: 5% 0 5% 0;
            font-family: $fontarial;
            font-size: 1.1vw;
            @extend %font-align;
        }

        .consultation__inputs-button {


            padding-top: 4%;
            margin: 3% 0 3% 0;
            max-width: 60%;

        }
    }

    .consultation__agreement {
        display: grid;

        max-width: 30%;
        font-family: $fontarial;
        font-size: 1vw;
        @extend %font-align;
        margin-left: 4%;
        margin-top: 1%;


        .consultation__agreement-href {
            color: black;
        }

        .consultation__agreement-href:hover {
            color: $hover;
        }
    }

}

footer {
    display: grid;
    grid-template-columns: 2% 2fr 5% 4fr 3% 2fr 5% 1fr 1%;
    grid-template-rows: 2fr 4fr 2fr;
    align-items: center;


    background-color:
        #F2F3F5;


    .nets {
        display: grid;
        grid-area: 2/2/3/3;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;

    }

    .licence {
        display: grid;
        grid-area: 2/4/3/5;

        font-family: $fontarial;
        @extend %font-align;
        font-size: 1.1vw;
        text-align: center;


    }

    .polyci {
        display: grid;
        grid-area: 2/6/3/7;
        color: black;
        font-family: $fontarial;
        @extend %font-align;
        font-size: 1.1vw;


    }

    .polyci:hover {
        color: $hover;
    }

    .logo {
        display: grid;
        grid-area: 2/8/3/9;


    }
}


/*Конец блока Анна Мычко*/
/*Начало блока Татьяна Семашко*/

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$tel: #BBBBBB;
$colorbutton: #38BCEA;
$colorbuttongr: #F9F9F9;
$bacgrimg: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
$bacgrcont: #FBFBFB;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}



.controltitle {
    padding-left: 100px;
    margin-top: 135px;
    background-image: $bacgrimg;
    max-width: 1650px;
}


.subtitle{
    width: 100%;

    padding-top: 35px;
    padding-bottom: 38px;
    font-size: 24px;
    position: relative;

}

.processing {
    font-size: 18px;
}

.personal {
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
    padding-bottom: 33px;
}

.btn_size_big {
    font-size: 24px;
    margin-top: 25px;
}

.tel {
    color: #616269;
    border: 0px;
    margin-top: 25px;
    font-size: 24px;
    transition: 1s linear;

}

.tel:hover {

    background-color: $white;
    color: $hover;
    border-color: $hover;
}


.checkbox {
    padding-bottom: 63px;
}

.subtitle-img {
    position: absolute;
    bottom: 0px;
    right: 50px;
    width: 750px;
    height: 750px;
    
}


.controlcontriner {

    padding-left: 100px;
    margin-top: 135px;
    padding-top: 63px;
    padding-bottom: 62px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    gap: 40px;
    background-color: #FBFBFB;
    position: relative;
    font-size: 20px;

    &__content {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        font-size: 20px;
        &__text{
            color:$gray;
        }
        &__logoclin{
            color: $bl1darkblue;
        }

    }
}

.link-doc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    gap: 5px;

}

.links {
    text-decoration: none;
    background-color: $colorbuttongr;
    color: rgb(5, 5, 5);
    padding: 10px 15px;
    font-size: 20px;
}

.content__logocontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 400px;
    padding-bottom: 100px;
}

.content__bastitle {
    font-family: 'Panton';
    font-size: 50px;
}

.text {
    font-size: 28px;
}


.buttons {
    text-decoration: none;
    background-color: $colorbuttongr;
    color: rgb(5, 5, 5);
    padding: 10px 15px;
}


.title-pade {
    position: relative;
    padding-top: 62px;
    padding-bottom: 62px;
}


.imgclinic {
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 800px;
    height: 500px;
}
.link-pade{
    color: $bl1graylight2;
}
.processing{
    color: $bl1graylight2;
}

/*Конец блока Татьяна Семашко*/