* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* ------------------------ */
$blue: #38BCEA;
$white: #FFFFFF;
$hover: #01678A;
$gray: #AAAAAA;
$transparent: transparent;
$darkgray: #474747;
$darkblue: #12354B;
$darkgr: #909090;
$lightblack: #3C3C3C;
$bl1gray: #4E4E4E;
$bl1darkblue: #1A3444;
$bl1graylight: #6F6F6F;
$bl1graylight2: #4B4B4B;

/* ------------------------ */
$tel: #BBBBBB;
$colorbutton: #38BCEA;
$colorbuttongr: #F9F9F9;
$bacgrimg: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
$bacgrcont: #FBFBFB;

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* ---------------------------------------------- */

.btn {
    background-color: $blue;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1rem;
    border-radius: 3px;
    border-color: $transparent;
    font-family: 'Roboto Slab', serif;



}

.btn:hover {
    background-color: $white;
    color: $hover;
    border-color: $hover;
}

$fontarial: Arial, Helvetica, sans-serif;
$fontpan: 'Panton', Arial, Helvetica, sans-serif;
$shadow: 0 13px 50px rgba(192, 192, 192, 0.2);

%font-align {
    line-height: 100%;
    vertical-align: top;
}

%card-size {
    display: grid;
    max-width: 100%;
    border-radius: 2px;
}

/* ------------------------------------------------------------ */
.title {
    font-family: $fontpan;
    font-weight: 700;
    font-size: 3rem;
    line-height: 104%;
    color: $bl1darkblue;

    @media screen and (max-width: 1199px) {
        font-size: 2rem;
    }

    /*     @media screen and (max-width: 767px) {
        font-size: 1.5rem;
    } */
}

._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.wrapper {
    max-width: 1650px;
    overflow: hidden;
    margin: 0 auto;

    @media screen and (max-width: 1649px) {
        width: 95%;
    }

}


.header:before {

    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: white;
}

.header {

    position: fixed;
    top: 0;
    z-index: 50;

    &__container {
        position: relative;
        z-index: 2;
        display: flex;

        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
    }

    &__logo {
        margin-right: 55px;
        border: 1px solid $transparent;
        max-width: 100%;

        @media(min-width:768px) and (max-width:1439px) {
            margin-right: 25px;
        }
    }

    &__logo:hover {
        border: 1px solid $hover;
    }

    &__social {
        @media(max-width:575px) {
            display: none;

        }

        a:nth-child(2) {
            margin: 0 15px;
        }

        .social {
            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }
        }
    }

    &__nav {
        @media(max-width:1199px) {
            display: none;
        }

        @media(min-width:1200px) and (max-width:1439px) {
            margin-left: 30px;
        }

        .nav {
            &__link {
                text-decoration: none;
                margin-right: 35px;
                font-family: 'Roboto Slab', serif;
                font-size: 15px;
                color: $gray;
            }

            &__link:last-child {
                margin-right: 0px;
            }

            &__link:hover {
                color: $hover;
            }

        }
    }

    &__address {
        @media(max-width:767px) {
            display: none;
        }

        max-width: 176px;
        margin-left: 3rem;
        color: $darkgray;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 9px;
        font-family: Arial,
        Helvetica,
        sans-serif;
        font-size: 15px;


        .address {
            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }
        }

    }

    &__calendar {
        @media(max-width:1439px) {
            display: none;
        }

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-left: 19px;
        gap: 9px;

        .calendar {

            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }

            &__hours {
                color: $darkblue;
            }

            &__datas {
                color: $darkgr;
            }
        }
    }

    &__phone {

        margin-left: 41px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        @media (max-width:1649px) {
            display: none;
        }

        .phone {
            &__link {
                border: 1px solid $transparent;
            }

            &__link:hover {
                border: 1px solid $hover;
            }

            &__number {
                text-decoration: none;
                color: $lightblack;
            }

            &__number:hover {
                color: $hover;
            }
        }
    }

    .btn_size_small {
        font-size: 0.9rem;
        line-height: 120%;
        margin-left: 20px;
        min-height: 41px;

        @media(max-width:1199px) {
            font-size: 0.6rem;

        }
    }

}

.main {

    .welcomepage {
        position: relative;

        &__text {
            margin-top: 80px;
            padding: 120px 0 146px 0;
            position: relative;
            z-index: 2;

            @media(max-width:767px) {
                padding-top: 25px;
            }


            .text {
                &__item {

                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    line-height: 115%;
                    color: $bl1gray;
                    padding-bottom: 17px;
                    /*   @media screen and (max-width: 767px) {
                    font-size: 1rem;
                } */

                }

                &__item-2 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    line-height: 115%;
                    color: $bl1graylight;
                    padding-top: 17px;
                    padding-bottom: 37px;
                    max-width: 460px;

                    @media screen and (max-width: 767px) {
                        padding-bottom: 17px;
                    }
                }
            }

            .btn_size_average {
                font-size: 20px;
                line-height: 115%;
                margin-top: 17px;
                min-height: 60px;

                @media(max-width:1199px) {
                    font-size: 0.7rem;
                }

                @media screen and (max-width: 767px) {
                    margin-top: 10px;

                }


            }

        }

        &__image {
            border-top: 80px;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            img {
                @media(min-width:576px) and (max-width:1199px) {
                    object-position: right;
                    opacity: 0.5;
                }

                @media (max-width:575px) {

                    object-position: left;
                    opacity: 0.5;
                }
            }
        }
    }

    /* --------------------------------------------------------------- */
    .page__row {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        gap: 6px;
        height: 100px;
        margin-top: -76px;


        @media (max-width:767px) {
            display: flex;
            flex-direction: column;
            margin-top: -120px;
            height: 80px;
        }

        .row {

            @media screen and (max-width: 1199px) {
                justify-content: center;
            }

            &__content {
                background-color: rgba(255, 255, 255, 0.4);
                display: flex;
                align-items: center;
                gap: 19px;

                .content {
                    &__title {
                        text-decoration: none;
                        color: $bl1graylight2;
                    }
                }
            }

            &__content_position_left {
                flex: 2 1 auto;
                justify-content: right;

                @media screen and (max-width: 1199px) {
                    justify-content: left;
                }

                @media(min-width:1200px) and (max-width:1399px) {
                    flex: 1 1 auto;
                }
            }

            &__content_position_center {
                flex: 1 1 auto;
                justify-content: center;

                @media screen and (max-width: 1199px) {
                    justify-content: left;
                }
            }

            &__content_position_right {

                flex: 2 1 auto;

                @media screen and (max-width: 1199px) {
                    justify-content: left;
                }

                @media(min-width:1200px) and (max-width:1399px) {
                    flex: 1 1 auto;
                }
            }
        }
    }



    /*Начало блока 2 Анастасия Добровольская*/
    $darkblue: #12354B;
    $gray: #737373;
    $dark: #454545;
    $blue: #38BCEA;
    $darkgray: #272727;
    $black: #222222;
    $lightblack: #292929;
    $white: #FBFBFB;
    $lgray: #D5D5D5;



    .main-links {
        display: grid;
        grid-template-rows: 1fr 2fr;
        max-width: 100%;
        min-height: 900px;

        @media (max-width:575px) {
            margin-bottom: 20px;
            grid-template-rows: 10% 1fr;
        }

        @media (min-width:576px) and (max-width:767px) {
            grid-template-rows: 20% 80%;
        }

        &__text {
            margin-top: 77px;
        }

        .text__services {
            @media (max-width:767px) {
                text-align: center;
                font-size: 2em;

            }
        }

        .text__price {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: $gray;
            margin-top: 14px;

            @media (max-width:575px) {
                text-align: center;
                font-size: 1em;

            }

            @media (max-width:767px) {
                text-align: center;
            }
        }

        .main-links__treatment {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(5, 1fr);
            gap: 2.4%;
            max-width: 100%;


            @media (max-width:575px) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(8, 1fr);
                gap: 1%;
            }

            @media(min-width:576px) and (max-width:767px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4, 1fr);
            }

            @media(min-width:768px) and (max-width:1199px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }

            @media(min-width:1200px) and (max-width:1439px) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

        }

        .treatment__cards {
            text-align: center;
            width: 100%;
            height: 100%;
            position: relative;
            display: inline-block;


            @media (max-width:575px) {
                width: 70%;
                margin: 0 auto;
            }

            @media(min-width:576px) and (max-width:767px) {
                width: 80%;
                margin: 0 auto;
            }
        }

        .cards {
            background-color: $white;
            border-radius: 5px;
            padding: 50px;




            &__link {
                text-decoration: none;
                display: inline-block;
                color: $dark;
                font-family: $fontpan;
                font-size: 26px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0em;
                margin: 0 auto 0;

                @media (max-width:767px) {
                    font-size: 18px;
                }
            }
        }

        //Замена цвета картинки
        .cards__img_first,
        .cards__img_second {
            border: 2px solid transparent;
            margin: 0;
            padding: 0;

        }

        .cards__img_first {
            opacity: 1px;
            display: block;
            position: absolute;
            z-index: 100;
        }

        .cards__img_first:hover {
            opacity: 0.00;
        }

        .cards__img {
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0 auto;
            padding: 0;
            max-width: 100%;
            min-height: 40%;
        }

        //


        .cards:hover {
            background: $blue;
            box-shadow: 0 0 10px $blue;
        }

        .cards:hover .cards__link {
            color: $white;
        }

        .vinir {
            grid-column: 2/3;

            @media (max-width:575px) {
                grid-column: 1/2;
            }

            @media(min-width:768px) and (max-width:1199px) {
                grid-column: 3/4;
            }
        }

        .cards__link:after {
            display: block;
            content: "";
            height: 3px;
            width: 0%;
            background-color: $white;
            transition: width 0.4s ease-in-out;
        }

        .cards__link:hover:after,
        .cards__link:focus:after {
            width: 100%;
        }

        .cards__link:hover {
            color: $white;
        }

        .treatment__butn {
            width: 100%;
            height: 48px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .butn__bottom {
            width: 298px;
            height: 48px;
            color: $white;
            border: none;
            cursor: pointer;
            background-color: $white;
        }

        .butn__bottom:hover {
            color: $blue;
        }
    }

    .main-benefits {
        max-width: 100%;
        min-height: 700px;

        &__advantages {
            display: grid;
            grid-template-columns: repeat(3, 33%);


            @media (max-width:767px) {
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                height: auto;
            }

            @media(min-width:768px) and (max-width:1199px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }

        &__heading {
            margin-top: 124px;


            @media (max-width:767px) {
                font-size: 2em;
            }
        }

        .advantages__accents {
            text-align: start;
            width: 100%;
            height: 80%;
            margin: 3%;
        }

        .accents__card {
            margin-top: 58px;
        }

        .card__paragraph {
            font-family: $fontarial;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: $lightblack;

            @media (max-width:767px) {
                font-size: 1.5em;
            }
        }

        .card__title {
            font-family: $fontpan;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            color: $black;
            margin: 7px 0px 7px 0px;

            @media (max-width:766px) {
                font-size: 2em;
            }

        }
    }

    /*Конец блока 2 Анастасия Добровольская*/

    /*Начало блока Анна Мычко*/

    .doctitle {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;


    }

    .doctitle__header {

        padding: 5% 0 1% 4%;

        @media(min-width:768px) and (max-width:1199px) {
            font-size: 4vw;
            padding: 5% 0 2% 4%;
        }

        @media(min-width:576px) and (max-width:767px) {
            font-size: 6vw;
            padding: 5% 0 3% 5%;
        }

        @media (max-width:575px) {
            font-size: 7vw;
            padding: 5% 0 4% 6%;
        }

    }

    .doctitle__main {
        font-family: $fontarial;
        font-size: 1.5vw;
        @extend %font-align;
        padding: 0 3% 0 4%;
        width: 50%;

        @media(min-width:768px) and (max-width:1199px) {
            font-size: 1.6vw;
            width: 50%;
            padding: 0 0 2% 4%;
        }

        @media(min-width:576px) and (max-width:767px) {
            font-size: 2.3vw;
            width: 70%;
            padding: 0 0 3% 5%;

        }

        @media (max-width:575px) {
            font-size: 2.7vw;
            width: 80%;
            padding: 0 0 4% 6%;
        }

    }

    &__card-name {
        font-family: $fontpan;
        font-size: 1.7vw;
        @extend %font-align;
        max-width: 60%;

        @media(min-width:768px) and (max-width:1199px) {
            font-size: 1.6vw;
        }

        @media(min-width:576px) and (max-width:767px) {
            font-size: 3vw;
        }

        @media (max-width:575px) {
            font-size: 3vw;
        }
    }

    &__card-prof {
        font-family: $fontarial;
        @extend %font-align;
        font-size: 1.25rem;

        @media(min-width:768px) and (max-width:1199px) {
            font-size: 1.3vw;
        }

        @media(min-width:576px) and (max-width:767px) {
            font-size: 2vw;
        }

        @media (max-width:575px) {
            font-size: 2.5vw;
        }


    }

    &__card-experience {
        font-family: $fontarial;
        font-size: 1vw;
        @extend %font-align;

        @media(min-width:768px) and (max-width:1199px) {
            font-size: 1.3vw;
        }

        @media(min-width:576px) and (max-width:767px) {
            font-size: 2vw;
        }

        @media (max-width:575px) {
            font-size: 2.5vw;
        }
    }

    .doctors {
        display: grid;
        gap: 4%;
        grid-template-columns: 0.1% 1fr 1fr 0.1%;
        grid-template-rows: 1fr 1fr 1fr;

        max-width: 100vw;

        @media (max-width:767px) {
            grid-template-columns: 2% 1fr 2%;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }

        @media(min-width:576px) and (max-width:767px) {
            grid-template-columns: 0.3% 1fr 0.3%;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }



        &__card {
            display: grid;
            max-width: 70%;
            max-height: 50%;
            padding: 5% 0 0 5%;

            @media(min-width:768px) and (max-width:1199px) {
                max-height: 60%;
                max-width: 60%;
            }

            @media(min-width:576px) and (max-width:767px) {
                max-height: 70%;
                max-width: 70%;
            }

            @media (max-width:575px) {
                max-height: 80%;
                max-width: 60%;
            }

        }



        &__firstphoto {

            grid-area: 1/2/2/3;

            @extend %card-size;
            box-shadow: $shadow;

            @media (max-width:766px) {
                grid-area: 1/2/2/3;
            }
        }

        &__firstcard {
            @extend %card-size;
            grid-area: 1/2/2/3;

            @media (max-width:766px) {
                grid-area: 1/2/2/3;
            }


        }

        &__secondphoto {
            @extend %card-size;
            grid-area: 1/3/2/4;

            box-shadow: $shadow;

            @media (max-width:766px) {
                grid-area: 2/2/3/3;
            }
        }

        &__secondcard {

            grid-area: 1/3/2/4;
            @extend %card-size;

            @media (max-width:766px) {
                grid-area: 2/2/3/3;
            }
        }

        &__thirdphoto {
            @extend %card-size;
            grid-area: 2/2/3/3;

            box-shadow: $shadow;

            @media (max-width:766px) {
                grid-area: 3/2/4/3;
            }
        }

        &__thirdcard {

            grid-area: 2/2/3/3;
            @extend %card-size;

            @media (max-width:766px) {
                grid-area: 3/2/4/3;
            }
        }

        &__fourthphoto {
            @extend %card-size;
            grid-area: 2/3/3/4;

            box-shadow: $shadow;

            @media (max-width:766px) {
                grid-area: 4/2/5/3;
            }
        }

        &__fourthcard {
            @extend %card-size;
            grid-area: 2/3/3/4;

            @media (max-width:766px) {
                grid-area: 4/2/5/3;
            }

        }

        &__fifthphoto {
            @extend %card-size;
            grid-area: 3/2/4/3;

            box-shadow: $shadow;

            @media (max-width:766px) {
                grid-area: 5/2/6/3;
            }
        }

        &__fifthcard {
            @extend %card-size;
            grid-area: 3/2/4/3;

            @media (max-width:766px) {
                grid-area: 5/2/6/3;
            }

        }
    }

    .certificates {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 1fr 2fr;
        max-width: 100vw;

        @media(min-width:768px) and (max-width:1199px) {
            grid-template-rows: 25% 1fr 2fr;
        }

        @media(min-width:576px) and (max-width:767px) {
            grid-template-rows: 70% 1fr 2fr;
        }

        @media (max-width:575px) {
            grid-template-rows: 40% 1fr 2fr;
        }

        &__title {
            display: grid;
            grid-row: 2/3;
            padding-left: 4%;

            @media(min-width:768px) and (max-width:1199px) {
                font-size: 2rem;
                padding-left: 4%;
            }

            @media(min-width:576px) and (max-width:767px) {
                font-size: 2rem;
                padding-left: 5%;
            }

            @media (max-width:575px) {
                font-size: 2rem;
                padding-left: 8%;
            }

        }

        &__carousel {
            display: grid;
            grid-row: 3/4;
            grid-template-columns: 1fr 12fr 12fr 12fr 1fr;
            grid-template-rows: 1fr;
            gap: 1%;
            align-items: center;
            padding: 5% 0 5% 0;


            @media (max-width:576px) {

                grid-template-columns: 1fr 12fr 1fr;
                grid-template-rows: 1fr;
            }

            @media(min-width:576px) and (max-width:767px) {
                grid-template-columns: 1fr 12fr 12fr 1fr;
                grid-template-rows: 1fr;
            }
        }
    }


    &__doc {
        display: grid;
        max-width: 100%;
    }

    &__docsecond {
        @media (max-width:576px) {
            display: none;

        }
    }

    &__docthird {
        @media (max-width:767px) {
            display: none;

        }
    }

    &__arrow {
        display: grid;
        max-width: 100%;
    }


    .consultation__wrapper {
        display: grid;
        grid-template-rows: 5% 1fr;
        grid-template-columns: 1fr;


        @media(min-width:768px) and (max-width:1199px) {
            grid-template-rows: 10% 1fr;
        }



        @media(min-width:576px) and (max-width:767px) {
            grid-template-rows: 40% 1fr;
        }



        @media (max-width:575px) {
            grid-template-rows: 40% 1fr;
        }
    }

    .consultation {
        display: grid;
        grid-row: 2/3;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr 1fr 1fr;
        background-image: url("../images/dentist2.png");
        background-size: 100% auto;
        background-repeat: no-repeat;

        @media(min-width:768px) and (max-width:1199px) {
            background-color: #F2F3F5;
            grid-template-rows: 2fr 1fr 1fr 1fr;
        }

        @media(min-width:576px) and (max-width:767px) {
            background-color: #F2F3F5;
            grid-template-rows: 2fr 1fr 1fr 1fr;
        }

        @media (max-width:575px) {
            grid-template-rows: 2fr 1fr 1fr 1fr;
            background-color: #F2F3F5;
        }



        &__title {
            display: grid;

            max-width: 60%;
            padding: 10% 0 3% 4%;

            @media(min-width:768px) and (max-width:1199px) {
                font-size: 4vw;
            }

            @media(min-width:576px) and (max-width:767px) {
                padding-left: 5%;
                font-size: 4vw;
            }

            @media (max-width:575px) {
                font-size: 4vw;
                padding-left: 8%;
            }
        }

        &__subtitle {
            display: grid;

            font-family: $fontarial;
            font-size: 1.1vw;
            @extend %font-align;
            max-width: 35%;
            padding-left: 4%;
            color: #262626;

            @media(min-width:768px) and (max-width:1199px) {
                max-width: 50%;
                font-size: 2vw;
            }

            @media(min-width:576px) and (max-width:767px) {
                max-width: 55%;
                font-size: 2vw;
                padding-left: 5%;
            }

            @media (max-width:575px) {
                max-width: 60%;
                font-size: 2vw;
                padding-left: 8%;
            }

            &__subtitle-number {
                color: #0079FF;
                text-decoration: none;
            }

            &__subtitle-number:hover {
                color: $hover;

            }
        }






        &__inputs {
            display: grid;
            grid-template-columns: 2fr 4fr;
            grid-template-rows: 1fr;
            max-width: 50%;
            padding-left: 4%;

            @media(min-width:768px) and (max-width:1199px) {
                max-width: 60%;
                padding-bottom: 3%;
            }

            @media(min-width:576px) and (max-width:767px) {
                max-width: 80%;
                padding-left: 5%;
                padding-bottom: 3%;
            }

            @media (max-width:575px) {
                max-width: 80%;
                padding-left: 8%;
                padding-bottom: 3%;
            }

            &__inputs-tel {
                border: none;
                max-width: 90%;
                color: #BBBBBB;
                text-align: center;
                align-items: center;

                font-family: $fontarial;
                font-size: 1.1vw;
                @extend %font-align;
            }

            /*  .consultation__inputs-button {
            padding-top: 4%;
            max-width: 60%;
        } */
        }

        &__agreement {
            display: grid;

            max-width: 30%;
            font-family: $fontarial;
            font-size: 1vw;
            @extend %font-align;
            padding-left: 4%;
            margin-top: 1%;

            @media(min-width:768px) and (max-width:1199px) {
                font-size: 2vw;
                max-width: 100%;
            }

            @media(min-width:576px) and (max-width:767px) {
                padding-left: 5%;
                font-size: 2vw;
                max-width: 100%;
            }

            @media (max-width:575px) {
                max-width: 100%;
                font-size: 2vw;
                padding-left: 8%;
            }

            &__agreement-href {
                color: black;
            }

            &__agreement-href:hover {
                color: $hover;
            }
        }

    }
}


footer {
    display: grid;
    grid-template-columns: 2% 2fr 5% 4fr 3% 2fr 5% 1fr 1%;
    grid-template-rows: 2fr 2fr 1fr;
    align-items: center;
    background-color:
        #F2F3F5;

    @media (max-width:767px) {
        display: none;
    }


    .nets {
        display: grid;
        grid-area: 2/2/3/3;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;

    }

    .licence {
        display: grid;
        grid-area: 2/4/3/5;

        font-family: $fontarial;
        @extend %font-align;
        font-size: 1.1vw;
        text-align: center;


    }

    .polyci {
        display: grid;
        grid-area: 2/6/3/7;
        color: black;
        font-family: $fontarial;
        @extend %font-align;
        font-size: 1.1vw;


    }

    .polyci:hover {
        color: $hover;
    }

    .logo {
        display: grid;
        grid-area: 2/8/3/9;


    }
}


/*Конец блока Анна Мычко*/
/*Начало блока Татьяна Семашко*/






.subtitle {
    width: 100%;

    padding-top: 35px;
    padding-bottom: 38px;
    font-size: 24px;
    position: relative;

    @media (max-width:575px) {

        max-width: 100%;
        font-size: 1rem;
    }
}

.processing {
    font-size: 18px;
}

.personal {
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
    padding-bottom: 33px;
}

.btn_size_big {

    font-size: 0.9rem;
    margin-left: 20px;
    line-height: 129%;
    min-height: 71px;


    @media (max-width:575px) {
        font-size: 0.5rem;
        width: 100%;
        max-width: 100%;
    }
}

.tel {
    color: #616269;
    border: 0px;
    font-size: 24px;
    transition: 1s linear;

    @media (max-width:575px) {

        font-size: 0.5rem;

    }

}

.tel:hover {

    background-color: $white;
    color: $hover;
    border-color: $hover;
}


.checkbox {
    padding-bottom: 63px;
}

.subtitle-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 600px;
    height: 600px;

    @media(min-width:768px) and (max-width:1199px) {


        display: none;
    }

    @media(min-width:576px) and (max-width:767px) {


        display: none;
    }

    @media (max-width:575px) {

        display: none;
    }

}


.controlcontriner {

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: space-between;
    gap: 40px;
    background-color: #FBFBFB;
    position: relative;
    font-size: 5vw;
    margin-top: 153px;
    margin-bottom: 153px;

    @media(min-width:768px) and (max-width:1199px) {}

    @media(min-width:576px) and (max-width:767px) {


        font-size: 1vw;
    }

    @media (max-width:575px) {
        font-size: 1vw;
        grid-template-columns: 99% 1%;
    }

    &__contents {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        font-size: 20px;

        @media (max-width:575px) {
            max-width: 100%;
            grid-template-rows: 30% 10% 30% 30%;
            align-items: center;
        }

        &__text {
            color: $gray;
        }

        &__logoclin {
            color: $bl1darkblue;
        }

        @media(min-width:768px) and (max-width:1199px) {
            font-size: 0, 5vw;
            grid-template-rows: 1fr 1fr 1fr;

        }



        @media(min-width:576px) and (max-width:767px) {
            font-size: 1vw;
            grid-template-rows: 1fr 1fr 1fr;
            grid-area: 30px;
            font-size: 1vw;
        }


        @media (max-width:575px) {
            font-size: 1vw;
        }
    }
}



.link-doc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    gap: 5px;


    @media (max-width:575px) {

        font-size: 0.5rem;
        padding: 10px 15px;
        width: 50%;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.links {
    text-decoration: none;
    background-color: $colorbuttongr;
    color: rgb(5, 5, 5);
    padding: 10px 15px;
    font-size: 20px;

    @media(min-width:768px) and (max-width:1199px) {
        padding: 10px 15px;
        max-width: 50px;
        justify-content: space-around;
    }



    @media(min-width:576px) and (max-width:767px) {

        padding: 10px 15px;

        max-width: 50px;
        font-size: 1rem;
    }

    @media (max-width:575px) {

        font-size: 0.7rem;
        width: 100%;
    }
}

.contents__logocontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 400px;
    padding-bottom: 100px;

    @media(min-width:768px) and (max-width:1199px) {
        font-size: 2vw;
    }



    @media(min-width:576px) and (max-width:767px) {
        font-size: 2vw;

    }

    @media (max-width:575px) {
        font-size: 2vw;

    }
}


.contents__bastitle {
    font-family: 'Panton';
    font-size: 50px;
}

.text {
    font-size: 28px;

    @media(min-width:768px) and (max-width:1199px) {
        font-size: 2vw;
    }



    @media(min-width:576px) and (max-width:767px) {
        font-size: 1rem;
        ;
    }

    @media (max-width:575px) {

        font-size: 1rem;
        width: 100%;

    }
}


.buttons {
    text-decoration: none;
    background-color: $colorbuttongr;
    color: rgb(5, 5, 5);
    padding: 10px 15px;
}


.title-pade {
    position: relative;
    padding-top: 62px;
    padding-bottom: 62px;
    max-width: 100%;
    background-image: $bacgrimg;

    margin-top: 153px;

    @media (max-width:575px) {

        max-width: 100%;
        font-size: 1rem;
    }
}


.imgclinic {
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 40%;
    height: 50%;

    @media(min-width:768px) and (max-width:1199px) {
        max-height: 25%;
        max-width: 40%;
        position: absolute;
        left: 25%;
        top: 70%;

    }

    @media(min-width:576px) and (max-width:767px) {

        max-height: 25%;
        max-width: 40%;
        position: absolute;
        left: 25%;
        top: 70%;
    }


    @media (max-width:575px) {
        display: none;
    }
}

.link-pade {
    color: $bl1graylight2;
}

.processing {
    color: $bl1graylight2;

    @media(min-width:768px) and (max-width:1199px) {

        font-size: 2rem;
    }

    @media(min-width:576px) and (max-width:767px) {
        font-size: 1rem;

    }

    @media (max-width:575px) {

        max-width: 100%;
        font-size: 0.8rem;
    }
}

.textprioritet {
    @media(min-width:768px) and (max-width:1199px) {
        font-size: 1rem;
    }

    @media(min-width:576px) and (max-width:767px) {
        font-size: 1rem;

    }

    @media (max-width:575px) {
        font-size: 0.8rem;
    }
}

.textservices {
    @media(min-width:768px) and (max-width:1199px) {

        font-size: 1rem;
    }

    @media(min-width:576px) and (max-width:767px) {
        font-size: 1rem;

    }

    @media (max-width:575px) {
        font-size: 0.8rem;

    }
}

.clinika {
    @media(min-width:768px) and (max-width:1199px) {

        font-size: 0.8rem;
    }

    @media(min-width:576px) and (max-width:767px) {
        font-size: 0.8rem;

    }

    @media (max-width:575px) {
        font-size: 0.8rem;
    }
}

.logovoxel,
.logoort,
.logobisnes {
    @media (max-width:575px) {
        max-height: 80%;
        max-width: 80%;
    }
}

/*Конец блока Татьяна Семашко*/